.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #e0e0e0;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.navbar-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    font-weight: bold;
}

.Text {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-size: 1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.ActiveText{
    font-size: 1.1rem;
    color: #507af7;
    text-decoration: none;
   
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-links {
        margin-top: 10px;
    }

    .navbar-links a {
        margin: 5px 0;
    }
}
